[Unit]
Description=Flask API service on 5000 port
After=network.target

[Service]
ExecStart=/home/scales/venv/bin/python /usr/sbin/wsh/api.py
Restart=always
User=scales
Group=scales
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
