[Unit]
Description=Сервис по взвешиванию и измерению коробочек
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/sbin/wsh/weith.py
Restart=always
User=scales
Group=scales

[Install]
WantedBy=multi-user.target
